{% extends "base.html" %}


{% block content %}
{% include "navbar.html" %}


<div class="container" style="margin-top: 25px;">
<h2>الطلبيات المكتملة</h2>

      {% if order_list %}
  <div class="table-responsive">

      <table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">اسم العميل</th>
              <th scope="col">وصف الطلب الطلب</th>

      <th scope="col">سعر الطلب</th>
        <th scope="col">مصاريف التوصيل</th>
    </tr>
  </thead>
  <tbody>
  {% for order in order_list %}
    <tr>
        <td>{{ order.customername }}</td>
        <td>{{ order.desc }}</td>
        <td>{{ order.orderfee }}</td>
        <td>{{ order.deliverfee }}</td>


    </tr>
  {% endfor %}
  </tbody>
</table>
      {% else %}
      <p>ﻷ يوجد طلبيات مكتملة في الوقت الحالي . </p>
      <p></p>


      <p><a  href="{% url 'neworder' %}">.يمكنك عمل طلبية جديدة.</a></p>
      <p></p>

      <p><a  href="{% url 'home' %}">أو مراجعة سجل الطلبيات النشطة.</a></p>
      {% endif %}


    </div>
        </div>



{% endblock %}

