<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
<title>Hi driver</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://gcem.sa/resources/assets/site/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://gcem.sa/resources/assets/site/images/color.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://gcem.sa/resources/assets/site/images/color.png">


<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.1.3/css/bootstrap.min.css" integrity="sha384-Jt6Tol1A2P9JBesGeCxNrxkmRFSjWCBW1Af7CSQSKsfMVQCqnUVWhZzG0puJMCK6" crossorigin="anonymous">
</head>
<body>
{% load widget_tweaks %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">هاي دليفري </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home'  %}">الرئيسية <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'login' %}">تسجيل دخول</a>
      <a class="nav-item nav-link" href="{% url 'storesignup' %}">تسجيل حساب متجر</a>
      <a class="nav-item nav-link" href="{% url 'driversignup' %}">تسجيل حساب سائق</a>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9 col-12">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">حساب جديد</h5>
              <form method="post" novalidate>
                 {% csrf_token %}

          {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label}}
      {% render_field field class="form-control" %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">تسجيل حساب</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
