{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<div class="card">
    {% for order in order_list %}
    <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ order }}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <div class="container">
  <div class="row">
    <div class="col-sm">
     {{ order.store.name }}:اسم المتجر
        
    </div>
    <div class="col-sm">
      {{ order.store.adder }}:عنوان المتجر


    </div>
    <div class="col-sm">
     {{ order.store.user.phone }}: رقم جوال المتجر
        
    </div>
  </div>
</div>
           <div class="container">
  <div class="row">
    <div class="col-sm">
     {{ order.customername }}:اسم العميل
    </div>
    <div class="col-sm">
      عنوان العميل:{{ order.adder }}
    </div>
    <div class="col-sm">
      رقم جوال العميل :{{ order.phone }}
    </div>
  </div>
</div>


      </div>
    </div>
  </div>
    {% endfor %}

    </div>
{% endblock %}
