{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">هاي دليفري </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home'  %}">الرئيسية </a>
        <a class="nav-item nav-link" href="{% url 'login' %}">تسجيل دخول</a>
      <a class="nav-item nav-link" href="{% url 'storesignup' %}">تسجيل حساب متجر</a>
      <a class="nav-item nav-link" href="{% url 'driversignup' %}">تسجيل حساب سائق</a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">شركاء النجاح</h1>
  <p class="lead">يعمل هذا الموقع علي تسهيل استخدام شركاء النجاح من المتاجر و السائقين .</p>
  <hr class="my-4">
  <p>يمكنك تسجيل حساب بسهولة والبدء في التمتع بخدماتنا .</p>
    <P><a  href="{% url 'storesignup' %}">تسجيل حساب متجر</a></P>
    <p><a  href="{% url 'driversignup' %}">تسجيل حساب سائق</a></p>
      <p>لديك حساب بالفعل.</p>
        <p><a  href="{% url 'login' %}">سجل الدخول و استمتع بخدماتنا</a></p>


<div class="jumbotron jumbotron-fluid">

  <h1 class="display-4">ماذا يوفر للمتجر ؟</h1>
  <p class="lead">عمل طلبيات بسهولة و سرعة و متابعة الطلبيات و سجل شامل لتاريخ الطلبيات  .</p>
    <P><a  href="{% url 'storesignup' %}">تسجيل حساب متجر</a></P>

</div>
    <div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">ماذا  يوفر للسائق ؟</h1>
  <p class="lead">متابعة الطلبيات و تحديث حالتها .</p>
            <p><a  href="{% url 'driversignup' %}">تسجيل حساب سائق</a></p>


</div>
</div>



{% endblock %}
