{% extends "base.html" %}


{% block content %}
{% include "navbar.html" %}


<div class="container" style="margin-top: 25px;">


      {% if order_list %}
  <div class="table-responsive">

      <table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">اسم العميل</th>
      <th scope="col">حالة الطلبية</th>
      <th scope="col">اسم السائق</th>
        <th scope="col">تعديل الطلبية</th>
    </tr>
  </thead>
  <tbody>
  {% for order in order_list %}
    <tr>
        <td>{{ order.customername }}</td>
        <td>{{ order.get_status_display}}</td>
        {% if order.driver %}
      <td>{{ order.driver.name }}</td>

  {% else %}
    <td>لم يتم تعين سائق بعد</td>
            <td>لم يتم تعين سائق بعد</td>

  {% endif %}


            <td>
                <a href="{% url 'editorder' order.id  %}">
                <button type="button"  class="btn btn-outline-secondary">تعديل</button>
            </a>
            </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
      {% else %}
      <p>ﻷ يوجد طلبيات نشطة في الوقت الحالي . </p>
      <p></p>


      <p><a  href="{% url 'neworder' %}">.يمكنك عمل طلبية جديدة</a></p>
      <p></p>

      <p><a  href="{% url 'completedorders' %}">أو مراجعة سجل الطلبيات المكتملة.</a></p>
      {% endif %}


    </div>
        </div>



{% endblock %}

